
@font-face {
  font-family: 'AvantGardeLT-Bold';
  src: url('AvantGardeLT-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGardeLT-Bold';
  src:  url('AvantGardeLT-Bold.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADuAAA8AAAAAYWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAA7ZAAAABoA
AAAcSx8ZXUdERUYAADgsAAAAHwAAACABJQAGR1BPUwAAOGwAAAL4AAAEuC6AHKNHU1VCAAA4TAAA
ACAAAAAgbJF0j09TLzIAAAHQAAAATQAAAGA0syjhY21hcAAABHwAAAHsAAACWs3eNSJnYXNwAAA4
JAAAAAgAAAAI//8AA2dseWYAAAhcAAAsSAAATCznDgsAaGVhZAAAAVgAAAA1AAAANg1BTLdoaGVh
AAABkAAAACAAAAAkCEwEXmhtdHgAAAIgAAACWQAAA+BExikAbG9jYQAABmgAAAHyAAAB8tecxDxt
YXhwAAABsAAAAB4AAAAgAUEASW5hbWUAADSkAAAB4QAAA+GzNff3cG9zdAAANogAAAGZAAACK8sV
d1942mNgZGBgYGNgkJUv44/nt/nKwM38AijCcOUZSwmM/t/17yPLMeafDIwMHAxMIFEAQZQNCwAA
AHjaY2BkYGD++e8jAwPLq/9d/7tYjjEARVDADwDEtgiweNpjYGRgYPjB4MbAzgACTEDMyAAScwDz
GQAj2AGLAAB42mNgYmJn2sPAysDA1MXUxcDAMA1CM35hMGJ4yIAEGhgY1jswKHghizEoMCj8ZmJ6
8t+dIYj5JyO/AgOjoCNQmEmb6QlYlgkAnH8N5QAAAHjabZNPSFRRGMXP991Bsb+jZTkuxpzxUfoi
DYxKR2l8ZAMROQlmbYIhwqZFiyAi2gRREAVBi4kWs6xlq4oGAyEIhhaG0cJFLgoyIlpYTBjE69zr
jAziwI9z333ffd+959yR33A/OUEOOM3KLBKaRwcZM2fRpRXsxxISMo808bWIKzqJPhnAMYlxDVWz
yLC+k0yRvdXxVtJOWkma7Cbb3Tq7ZhL77HecjlF/hP/Yq0nvIDBH4OlXHNYoAvnL5wkkdYnjAIGO
oEHf4LQsImMe8vkP34/z/Q1qjnqfc0OIyS9s0BL7ziFqPiLKuo38dhPnozzHlN0zNcP+vtAH9XFZ
Z3j250jpPe6/xPFtxLnXCOcSeg0piZM0+5/EiB2bMms5r4/5/hWVa+QSBtmjTc6x33UM8GzN5hQa
9SpEhyEyTV96cJH9SlTrQ1Dznv4Mky2aDytUcTVF7KFmzS60yE1skyfo5ZpO+8z5nDygTzaPAvda
wA7OFdi3X1+Hy85nH085f5RrPbvW3EKfeUS+oZt763aer4OZDSsuB2ZQZSWPIPzMHFLUOfKJOaGW
wVq4r0NObQ71MAebl76gP9bzdYgEVJsDM6hH4uF7et9DnSHvnPe1DNZi75dVm0M9zEFfYtDlYTNd
RKNMIBYZQjLSz/qV+9O2el+m3V2O0cvRKtbXt85rH8/IcXJBz2OzAZKyjAbeqSQ9TjKD0RqsCVYp
Iuf4gnnWZSPf0YUF9Do+hHftHTALaJWf6DAHmWuZ/yN7Ho+ZldEuLfTd4748bKrB2p16hvfVkgf+
A6jHu3sAAAB42mNgYGBmgGAZBkYgycAYAuQxgvksjBZA2ovBgYGVgYuhjmENw39GQ0YnxmDGRMYK
xjrGSUzHme4yT2FeyXxAQURBSkFOQUlBTcFAwUrBRWGNopISkxK/kpCSlJKckraSh1KCUqrqqd9M
//8DzVRgWMCwDmiWI2MQYwLQrFqgWceYbkDNElaQUJBRUACbZYlkliCSWSlAsxj/////+P+h/wf/
T/jf+L/of9r/gP8+/y3/sf399tfhr85fsQdHHhx8cODB/gd7Hmx+sPrBogfW94/de37v9r1b9y7f
u3DvyL0V9ybe67utxfoF4ndqAUY2BriBjExAggldATDIWVjZ2Dk4ubh5ePn4BQSFhEVExcQlJKWk
ZWTl5BUUlZRVVNXUNTS1tHV09fQNDI2MTUzNzC0sraxtbO3sHRydnF1c3dw9PL28fXz9/AMCg4JD
QsPCIyKjomNi4+ITEhla2zq6Jk2fu2jh4qVLlq1YtXL1mnVr12/YtGXz1u3bdu/as/d+YUpq5sPy
BfnZL0qzPrbPfFf06XN62cvXr669z6m+unxnQ3Le29MfGHJrHiU1tkw7cvT6jTt3b97a8eXAiWfP
nzz9+u1Bxe17j5u7m3o6+/on9E6ZyjB59pxZB89cKjh3/kLl5YtnAT98w3AAAAAAAAAAAAAAABQA
KABaAKYA7AE6AUgBZgGEAaIBtgHOAdwB6AH4Ai4CPgJyAqgCxAL4AywDQAOIA7gDygPoA/wEEAQk
BFgEuATUBRIFPgVqBX4FkgXABdYF4gYKBiQGMgZSBmwGmAbGBw4HPAeEB5YHwAfUB/QIEAgmCDoI
aAh2CKQIuAjGCNQJBgk0CVgJhAmwCc4KFAo2CkoKbAqGCpIKxArsCxQLQAtyC4gLzgvkDAoMIAxA
DFoMcAyEDLwMyg0CDS4NLg1CDXQNuA32DhoOLA6ODqAO6A8UDzAPQA+OD5wPvA/WD/wQOBBGEGwQ
ihCWEMQQ1BDyEQ4ROhFyEcoSABIkEkgScBKkEswTABMiE3ITjhOqE8oT6hP+FBIUKhRCFHQUphTa
FQ4VRBWIFb4V2BYWFkgWehawFuYXBBc0F3oXtBfuGCoYchiuGPgZUBmaGc4aAho6GnIaiBqeGrYa
zhsOG0wbehuoG9ocGBxKHGQcohzQHP4dLh1gHX4drB3OHdwd9h4OHkgelB7mHzYfWB94H5Yfzh/g
H/IgDCAYIDYgUiBwIIYgmiDoIS4hPCFKIWIheiGSIboh5CIMIiIiQCJWIm4i0CLiIvIjACM+I2gj
riPkJA4kHCQyJIgkzCUcJUAlWCVyJY4ltiXaJhYAAHjaxXx3YFvV1fi799lWvK3xNCxLsvQkPcmy
5aHlKW873o6dxI4dZ09n74QkzoKyAnwJKXsEAg5kQiGskkIphVI+CimblhXSQCm0JYQW+sXPv3Pv
e7Idxw58v98fPyeSLOves+45555zz7liMDOJYZgL+AzDMgqGUSt5pZrjAxcOHz6Mz4gp6J8DLx06
BCMwY0O/REeHxvGsjzyOLbEe+yU84DO3+C5ywzgLk4Ub8X7GCL8xDgUf4skj5KMPn4I+FDw8BPgE
PaZfpW/Wr9bPTZ4XNy95nna1thkeK5JXxq1IPhXXHPenY/Czom7FPfADLyvq6hgGMa2Dj+NU1sME
4Q1nRgreydtiOI1WZ2Y5TRKrAA6cgrME+cysLy8Y8DsFb1TAHwwF0NbSJnRnlE9vLmjODJsSsMpU
lnl1u5B5GEXFG1ScXQjYHMXpqT2VrGd+8tzGUquOd5qVefleXbwh3+tLWjxfnZtfFh+rTFOmG9Pc
moQUu1DmmjxXPZ9hohn74DdsEH/LTGCUTBojMB6GUfmDvjytJsYW0mjzgn6nLQbJf+FtzqBGK9HH
26KRD9l76xsW9+6Ldue7XYUuVNjbUN+7pK5+yQq3Kc3tTjOLa1HeWvE19O0tvb23LH4c/lbocon1
DfCud/HiQrfbZHZ9hc8MpDGwSrmD3+D38TlYBTfjAzn5FDEKnUIgaAP+MA7BM6ED5IXJ35MwR4hh
JWpAmDjjeIHOOn9Vx+K1i24y5NnSajZMnbycc+rVHTPWg5Lk2kN+r06jMqLHrg15Fq3o6traJVT4
jeraaZOW9zbaCjO5xM6dG5KUdrVNQN1eu8aYqrODKsH6gS4xb1BdYiJaRDSIflYufo+OAd0pIFDO
yxJSuSQExKFjs/a0u13te2fVLF/SfdS+7vr/2nvT9evtx4QT61Y+Qed6YO5t0lx1wMwS1gJhBBx5
RkzFVcfs6+ncdfajw3PXoDD2AE1J8IYIBPRTCOkEnyKEPbvae9paeqbusm9nNyh2YKN7ec2aNTXL
3ctydu/Ogbk5YCAu9B8mnuD1cT6OBw3kA3/ef+TI/iOo6ejR/fAfxtUOzmTOM4eYRIYJcZoYDwrA
8pcgPnC+wl7L69XNh/5Ynj/NkGg7JMmJYV5HBrSayAlx1gAyiJ+j1QcO0M9q4ZnAYgksgHD0EDFU
xEwcvAvHSrLVgU5NRLFPid/PYydeeIqhdmwdPIfrQEY6xk6oBfn68sysCYGweJuXVVM1KEF+3paE
rPnTujItVY1Fgr99upef2FjkOOnM7ejg3fEo/g+Na0pMKe6SeaV/qFtdalFllM5Bye95Kpe/t9yd
KdG/CJ7uAVqi4RU8Cx9A95zcRBQUV99LPodhuARosYGn8AGDsNaS/sHC8fCG0EY1FFX8z8C/ivKb
rQts9lReGY0fR1GcyjSjhl93taut+t57bxaEcseaemOWzm3R2oTqtKxg0s4p+b3zqwgewnMl4HGC
rHxaHTE5KnuKCzCxFI0CHsQ8BKf1uZRql3tuZXpPamow6hmU19LmXrR9zvX3r6zebkv/sAp5HQ3X
1xudZaUz8nQb2+YHs6+cdU3A5yXyTYan6cBzHNEkByyaT0n1gfUFeDRFfAY1PNLWduKafXjndeg9
MW/fTqT9gtCYCvbaCvOsDGNEVs6qAOs0Y44ui1MAqodchcJfhm4Xv09xFYfnFphsFatq19yi/JXO
lKJ2FwWzq9NQOTpw73xtTuNkV1b3JP+m6ZbYmEKXUFhG158DWXQCHjXxz6DpBA2KMB7wh9TssFOK
QV8dwLHGgoV1BzfWbnKUVj1VEXZ6SvJzMvPxmY9xVGB965Z7fLm1a3oWoyTRmBMq8AjhQmntywEZ
D3hiQMusHOKRtRydFi+8gZTip/jMnoGjuJohfkqQ10YP+gh2hIgLjxntoxwjaLqIvtedPo3ijrN3
xWh8wsTNCxddIX7g0Rsz3KnGjESv05aZ6bDmoFtTgsWCatZ1181SOkpCyoK2KZu3TmqrtNlc5jSn
U3yGz/OnW/1eyT408NQF9CgZE8P4QrLDBDJ0Wi5Gwapl90ho2E6E07nn4MZb28KoBmTjyigOZWcV
fIKjrlmz5e7ZpZtmLxa/QWdzgvkRuWDJbrFH2keJ5aqp9R4l9ot2EBvGkp+AMYlAxShPQUfL3gLm
RPyFNJPI3Tv4Ac7A6RR6NOcIOLjod9BkMQpdEI9cWHP8nTveOb6G4Mhh3OCzTkl0UO8CD+wSJ6Dv
4XFq/37x+/37R8EDaIFoLtoL8I4AvKhr12AKUYLHYAHkZiIarOaHtxekgP98GBHTBstmCQdfPIn2
rVm+U3A4vCZ8DGXnVxWqjUkKvOMY+jw2dukNuyZ5Wlw2j8eQWx+o9ISTlBaV+BiVzeDA4D/x5/g8
U8BUy7tazJA6cBqy4Yd0McSTgQYhSgG8E5JQZBm1Op9ixBqiTxY5ojFKMwX2rNjen+AsXjFx+Xxu
3pWTr+ssNsx4Yu2dL69vrjMY8p1lXSvbnf5YrE23ZRRlmd0+bP/AmmxaVLPoZ09sNJVNLvc6ptvz
WhbMz53/6KqT1y+9b6LbMr+x/QabYW16blNupqdBWv9YePoa7ELBJBD/oODBSfOswifwINFB4VXk
/jlyvvZg452NaMkS4iuRODAAq1QJ8+bBPCXd0RnwKsBKxGuBiHmW8+WFccDvZemv8AvmK8/MmSdk
Tr2Ct+bOmBusTFabUxKSU5MTKqfNUPM6JT5j8mQ1zcv17PB2Gt06HF6D41K5FF1cDBL/cXWt1hTH
Up1yDJ5jrbC2RiJxWZREuGas470oIkvc/VL661c//GH3ibVtN04LTXhJ3V3dtXT5tI2I27X/7J2z
jq4u6p7r9TXvmtJ5pSSLAnh6GnhKgWiJcmSO0lF/z7NKiRnByRd8Z7JX+8P5uip3x60Laib56gSV
PWsuPoNjVKY8a8+1LTsXF+KwuMhaVJ0xKb8K6AVZoY8AbjyBagXv66OPSnTn2Y8/PovP9K/p39Yv
j3sXxsWOGKesRPs+fhf+2t/XL56VbIqHuC5EdZtBVqrTw9rED+tSiEfb0JNo1S8WHTx9tn/nKctb
wWXNW7a0VPckf4geTEzd+FTPZ/c98P5ty2etWrB0dVmIwibrejxCq/QPdkpl5clzJ0+egxj8S6QF
HXCJ78n0MtLeTsZVnqTBHmJiBs8hEf6uJ+ujlNSBWIDPjKkYUflJzmBfXZRinxz2vYJijDqNIQ4D
8PLujvTsPNaYs7BWZ0lX8Vo1pakDaALYREMpRWofC/rFKztO4lMvfYeiP/w9mfwYahJvEm9AZeLz
JO6AiZ9Iez2dw008+Scg7wVZzizZ25LpZ2r4p+TVAuipQl357c14z/ljMfierffgGIBqQJ9DfJCB
B97CmXjgnSEZPTYkIxRiYT6CuQeQGU848YB4FkfDzGyMXgdRvYDEUtAtHnQ2B9YsmWitmm7xKcQv
QDioG7GDlKUUdGyrf+jjjx9e+cTMkyun9/QumdGzDCtcjfVZp8UXTy87NKujsWvnNZPart1FdZbQ
spLyYhphhUTkHsQpiQ2yxAQrz82aa+3w8O6etramFE7QqdUGl06FzxiNE7cULDHbzF/g8CMoVmXP
45WxJNSDVSV61kFjM57JBu/AEdclEx1GdJ9WAOlCMERpJyGCGnDZFGYU0rIdaeoNoRmr1zwxo+fE
2admlRiDsd9q2Q1Tm5Ymhz03WzlNQbkj3Za60Jd97S24sHDVkVlzj69ecXjWpp7Un7kqZq6b12EY
ZAzaHF1CuAzhCK9bgVfVMK+EBpIx8AIvcYuJHCu/nDHLmZmtdjXkvfLeYVwpBHUTKiBG0Jv4pUV8
TbVvwoV//AOH/6C1W5S5PrqmBtj3ncAryU14woSUwCFODkQhe4ssE83eqDPXaXH6L3F0YpomVchZ
PKfBmL+4pmR2oSPp2Txjuss3Q59eZDe3rC0rXMJn4YTkFGOS1ZBuy86cW+1pqnRZcsqLLfr8rEyj
jXfFJQnuaqFiYa7HHSL0xMHTl9QvA6d8ALyB8q696JM9ONzfP/CCHNMAzRC/MqmgUWBn1LrYgJKa
HFkqWKfyk9EpGVajUxWHTtqdzTt212WZiKGlOvLSNPosowE9J5Z3zhNaW3JnTiYwIVfBL0h41dQ0
WD7lhZ/jW37z/W/AfH7ACpLOSePYFyUbksZJY8m/lOfn4mV7luD5z73YvwKvIJm7BX0qmtBnYA4f
i1Y6H2wHfyXZECLmHA8hGevToR/ePo2Yd/bf9iZi//LONph6v3gFihH/g65DXW/CPLJf9cG8CUQu
rM8Ik5VnP3xt+YpX/4QS0bsk6xfd4rcRGtFnsj8NICJE1selMIOD6M2vvtqCXui/Xewm/mAR5Gl7
YO3TSOSRFMURUeo4WGcQJon7gmiPKUObyCo0XvvyRmeeKjpGk+OYiM8dQ2qD08yJy41Chh4fiwka
q1ty0tGVfKCu0hhgRuU/0bC34tinxe+fgvyHfgZ4V0l41YFwFCDzYiFAjw2URKtjJo6FVvxeRov2
XoRW3DKEluSeaAPOkteRh7UBA/nosWP9xx5vxGgDWibe/LGc0w3uQucHT1D6rAErOi8moPNb8+hn
K/ACtI+tpXkxpKD3n/P+m63dPnspPX8Z/BrvwmGwRQvNpgL8RTFNAFF1JOZii8G7+rGmy7/ttgfW
hNtUWPxbiiUfrLD+ylrsGXi7WHAd3XLlA9mWIvGvnDfT1O0LTZ1GfVsx4NhH7d1M7Z2TcxCaHPCc
eoTfLO4vWuCd3u7vX50/VYlRQ3FJc1NRaQM+85dSW8X6hhvv8aYXIV1x+5SC/ClTpBzs73gZ0K8l
ud6oDdQZQyCjFx/W3bts65GHtyw/wD3kaC+sryua9OacXUe3bD6yc2Ez235FK5XD36k+Ur9O5TAc
oYMQhinEfffg7A1b7jiwcnaF+M/WotrahvLKerJjFjcf2nb1/oovRH9ZS1cgNHkK4d0McBcAfRyB
6/BRgx4KYhVWM7gfwedFkHM8fMhVV9O58djBLX0Ho8RZirq84mcvKMKrw8em5+Ud3rzhsePbVak5
Be/bSkqA7yig0gs6p5b8ii/gL0IcSa5NiEQbFeHwW3p1nIarqUFH+0yHtkancto+sV06cxuMxZtx
ibQbIKVG2tcxZIPE8UA6MCxHqgEjmN9s5ffNqV5Sao1+Xl+XoM1MN+CUpqJ1B/pXL8vE4rctweLG
5oJQC/aI+r6C/AZnSVl6CCtNJRlKc+79O685UOMXvy5raS4ub26R9LYYCAqD3DWSZviC8m4AsQqE
9ZyyuB8LizztBqu6f1oPPvNVjcUstE8Sf4+8a5eL/y3FewCDOT3yrJHkP6f7+/uJWmLP03190riY
QT8zQONCDRkHpkkTIOJryYyBJPeUCrdWqUuIQXTup8GaUlNffFKqMgU7KBTEVACguhExTMinUJMY
pqIf3/HbU68+ezcJYfpeOS++guLF74Z4lOmjc4AlKb6Cv7P/BbphG+ad5M0R9snuNSyHO3HmsiWB
8OrpQae2H8Uqbfrp/e0zsKeoee7cfHfrDPEUEtQ6iAXWwG/etZvF90fIN0z2lmH5aiX4mORNFHTu
AqFVV9bPJjstRqc6DhGwaZrQFvFBlK01enRqnVOTIv6R6s4/8EbQnWSIJpggeFWwZBAkxBJB+STS
5qxdt3ddrVN62d68vLl5+ae9CzoCgY4F0su7G1tbN7bKazdYi2+l/ge8pw4oLELD3kHgVLLr4TTF
dyFcurxmWdh8+7r5FTVbmhq2N0CQX9JaMH2B74qHq/+Gyqfkhzo6QvmyjteCPYfl84iL7Bk2hVFa
3dePQ6vW3nbfemfYqYnB4l/rK8KNE6vA73gG0s41PLBp90GVmYsvET/P65ga9HdNlda1CJ7mAY74
IdmSI0Vl0V3YNbe8gsjwIM4oFF8nY/WDX6M/w9jcEXGJzhxF2ZRND6jxRpPNXiISvXoA4VidUq+b
4hRKLIZdM/nq6pzoBxX5Oj4qKTFN71UV1fVNSw9XedFNiriUWF0Sb4hLNFmD/JRFSqHR79OrY5MS
JyROUCrUdYHWhcl8HRPZs1G7vGfT3ISnHgSxra39bW34zNPgKMBrPE3GFoL/CmMPWe2IFAmJSjlO
CQaUOHw3dixZGrKoQX9cFneQWF1RU41QW4Iaxdc4o1vrL0G5AEsJC1MKsMjJAEuO+n1qXPq7e18+
0ot7JVMV+1GXRCOMYUH8Y8UliiPtuHv3dNx++NAdPbjnDph2EE0jj4G30ULxdjofdkS8FuZLcQls
mwpeTeKSm3/7y3dfXbHqd2/+8uUumCiK7x45gtwI7yVzQGdKYM4EMgfxIUIhuuER8ctHOv/w6ApM
lOFtnCz+isAHutARGBtLzv44a0BNwpI33xfnfvkluruvbzUqkvzFYogNSOziIutuI+ehrIIzIx2n
of7aWYKIHQYg4IXfgkUIfRYqVHK8JtlZjQpD28umae3GhASjXTutbDteUH7K6AIIKApn5LxV3ldT
9ZbaGB91JDrBxL1XVUPwPTN4F8Qi0hk4bAzPPPkkPiOd0SKmFmj5tUQLkAuOwER3d86WhOE36TSo
BIVRKOCNAmr6RqEPFaJqZ7IGAnS8AFC/x5kSoo9ExRvVb1XV9JW/lZOBoxCbpHEZT5Uzcn61E3No
E/E9SEfCb4GmFwL1cVHgeBH6xq41+EwZxeGAWVDac5uFiQqTUqeaoLYr0aZ7TCazlXek3zUtnU1U
xEbptZLPmDRYy1yInHWRcx8daDCtLXkOHTpPyksS/jBjgWTvDSZdqueMyKlDECqQco50nBMKoLXt
s6KPaHN5X57dZXwkYXr9tb4Gu9I2uQS/MV+3ocCVa+dzbaXLlIsXK4urS8zZ3VPUiymOJCCoF39L
7Nrhkw4ZrAFqy9kQqfoi0chQQq8DeyM7PzlJQb+6L17r7S4W78715Kj023PSbt5Qt95qij0W28hn
2e5qsgrutgu8KbUo7N7HWdO06Vdl+HtuLQ1lt03ypee4rxLM6XxVEqFj8F+QQ8yBeCBjKA6CfTzk
C8CDpDhAgMIpid+n4Dny0JBjqgdPxuzdtGVPszUL/kffv6up0uesSTd53GXF7H+s779gvW+qXfho
6fabN09oLWrdvM+gMe81JKiKs+DdhEVuZsjWeqVzAkAInkSAJ8GnIzU5jlfQY5J3X3wx9aG5G363
bMVv180+lPribw9eb/Rf9/7XX79/Xa75+oN0XYd1VyFpLydpMNFh8ZGHxEdgjEv8Bq8HPkMMOYIn
QuU0Fnq6CysqbxteNuJPndmILHFIPljSsgI5zEMWRD7DEw+k1NYUPWGwZupMprRkpXrnRkNhS1lu
9ANJc72ZWZ7DxvRcw0xL/eLiZTv6nxY4ZfLvHVZsLwxYU9viNUKRw16WnsoZi62dO2PNuV2FU9x6
o03dkqDJKMvorskNV/Y4rxAfaFfbVWlxih69kzPL+ouvRO+zRplPUtmBx6R76+/FV94KPzRnVw2e
Y5OBz1TGQc+vh3UXEpmRgS5LzyLTyTsdHUH5xu2LVRUF8OsEpcUQ06vonTxr9eq5kxc8e89Hn4gv
fvrxfduOPfL98aPo8apWf359VKLL3D5r65zpu2Yzg5/dfe+np++5+7Omx7dtf+yx7X0nKM1q9Dxq
oufXaZfEx7wvoIhspxDINs3F6mBx6+RCH4fwWnOa2WTJN+MvxNMmobO8pl0w3cQ5nZyedxC42cxC
yGM+YGJI9UrNKXScEHBIL4/4fDvQRPL0we6s7Ou3rd4pvVCdszJLcRY6Sc6FHAFIeJToBnEfTlj6
6H7xOAPRcUR+etj/M5gA0ScacYMbAFv0YjB9DzhgNU/PNIWLhBjh5evHK6dVGy1sjGJhVHQ0jk6y
6DN6DxT46sqGpfjo5i3Hj+KGopKJlnhP1mSNwpPLJqTo4h9AszeWh/45LEzx8ce2b5VqgnPwXvQK
mzJUf3tFvJ1NoUEqZgrQIdSBfwf7CuyWw9GP1ub0B/O0mkdyeD6H37CxvX1jO7pgN+gdDr1hfTt5
L+lWzuAx7MKZsO8lX1w1VML+JFcOv0cPXHPN/p0794tx9CzejFxoI/6a2K+a1suiyJG6gg+G5DTl
49vFw0532JrKe6I2Y2POgsZpt6K9vbP1aTn2HF1GVaVQ3eKfs5bwpgXj2gywMggsEiGQMqlUFCPZ
iYL3y9U3xXB5SLuDjdGpcvSGkL44PQXSvj57Qa6+anKBkNlb523T6tCj8YlJnmRdV4Y1KT7OU5yW
UJdXYkkssBe2p5stVKa34mXoWbaVyhRyXHR14F/ZbOv6ZXPgM/9gBa6WYhgdCVyIiZDz0IAHUUOC
HNTfn9Xr7b8H4Qn+DEdePP4V/qv493BbWxipBt6uTgXZfUl93eAPg7fjmfS8HGCR0C3g91mlEEr5
WpKtosQhokW522cvRL/XZDT6Xlw/4MFvD3jk2upDzHnURvdmWp1BbYcOwd8PDsYjcnRtYhhan9MO
RYWR3BtWQwihkCk2weovCsQbBHNUY1RUUrxSrU5OiS/PCLDZme7S6JQMS2xsHPgpdTLfIfnmaljb
pItqpUmbm8GdVqG2XqIvDrDrbrATBdEXFdWxGFsklHe07W1r26u0eq1WLzavnzFj/Yxf5NlseTZJ
1y6y3VAgJAR0XLT08i+/f4f4FNjuQmKzu1Ztk17IvCjiz9h26udjIRPTS9GWWqKOD6jlyqZSASHp
uWvFV64pAYrXnnpnvd+/uamF1nkl+gcWT0UG8R8zmlD6unUAjcBdJMO1XQR1TK0eBn7vGPo9Es/P
xlB14AO2P/Y50HUWogAVU0J23gAxNvVQbRbx6KcaAf7VZCzxeJSQJV74MaM4vOldmX1azvkxE4H1
cg/mYwvYgQUyfylaGWrbgCDIR0tqJCwIsyw4DrSQVNOW7VQJJqNcTnOaC2g9bfuxSqmcZi3wmw0Z
mfqc+qAjV08Laqj50CG6Agz+mn2P1qNSRlWkWGKgo6tS6855/z1cmUIf0POpCJxPx4SjHgvOSjD8
EXA+Iy5gCM6TFI56ND0KiJJ0lxbKkPf+u5besn8EtKbC/n7pTF2C9wsKz3QJXUSuxGZpfdeXdwnk
G4qLgsrtybrc4nCOtt1otozAcWSKI1XdyasUVMckPEdk/jWjKZeDh0sQvATRxAiYOjmuiMD7gcLT
XEK5itTIwQnEyGGE7RLAW+oX1dcvmpVqTzU4RyB4lPy1fqndYFCrUkk99V8gpLvpeRqRNg84hgtm
VtK0gPG7rX/BGD145sMPz4jzr7sOb9kil9BQ0ityfTCe1gcho48WQlK1YnR1kKhtMhrHaaKry517
nrikcFj4kuXFndrYBHPoEl96Bd/M/Wn3RTXFrX33RrtG+9dIzQZ9xH4l7bUjK4JkB5KrguKToNcy
X+xXRKkj8767dB47PG8eqHFk2ndUh2ldE+a9CvNUo+ZJCixPfVtS28jsmUM6K+F9nuJVj6JYVqQI
1QtINCoDcEvKgwdPk84O4JeVqhk+JaX35N8ohwNpEnvSeRyaDfwNjVPTcZmUJRgn8zP4Rxi3Evhh
SZWEwpP5ODkjwgKMHqJ/8EMYPx/oJ3DluuYQ3SfFDynJMCFCL3V6v6F7tZVhlAFaCWZpWY23Kh2E
b7kYDJFg5Q92T1tJXVrVM8fFvyL30kg9uA25+pEWJxnzhZ5r73sT3vXvlCvCKyO1rMfAD8TLteah
KiIa7QRGlhWRarQDuLjQyB4adgKsVHMEuSdL3Y/jVx2JnMeuPE4lazRm9RHzdNWG8Xz343jQuHhQ
EVnksRFl0mUfwvMqxWO7LD+SPoyN6veyjoyJDN1CtSaC6xcUV+bleRq1XuMw2Dm0cqXZ0sqNTcCn
I9w4+F2Jjudl2fKX5VrW6bEJiCZqPjbKWVTxEfGXOB19Ts++QrqhrkPk2bV6145VO3at2rlzFZq3
azW87NhB3lA5/Rroc4JfMELGSefJPS4wV8rzkFrKQR2sVjIcPKlsfdnijx+e0la6Przw0/7p4ndf
p9lmLkHrv7Zac1u9Bvx6x9Spq2+5+zN+ckf7itvu/0hUotK4q9rKjonPx7sr6u3F1I/S+ifodyqp
D41XASW6PVYV9GfU+4xTCcUvS8odwfHd5XGgcXCgR6nrGg/JG7J/lnC8Cjisl8Eh6fSYaEwRtzce
psIhXy7hep7yY7uM1GRdGgtdJ3WY46GKkkMGubeoD2Q3Qap6yNVasiByxTYA4hlZtZU9/Mi+BtJf
RE/JQ+N1NpwoGae1YTYaam64Bn10UXMDpufT+/C/IbfLA/i80h8Myf1ZkdjaiwTDUMs2yfoDEUv7
pD/VmbG+aMFVtWXde1Z5G9P1PVETVFadO49N0nlMXTanN1eYgw5Pn+fJzutrb8tO6a2ddYvFqEd3
iP9OVBmTQnys2sQlb82wObywJrSWytbSWir/o9VUIr/xK6oOotbjVVXRwJDPlnC2/kSc6LI4URxR
8/GQ4piI/5ZwOilO54/zKSn8+Ghvl7V+XG5Xyr5cwptI8Wb/BF4vcuh5l+FbAJ+u2p4U2Y2Lxyfl
l8NePUqmxyjLXvhRiiLR+viUZBKTHBd5ITXJCN7JFK9ATwcvj5cZHdVfRhTaEfH9+JQ8f3G4T9fm
71E8DjMeJpdmwrSyTbLKGJ6cr1D6BHpcIhNI6mUh2oTrI9tK9IgNMMoizpzQ6DF6uaSDkx9b4MW3
4pQuf8WKKsd9W3O7kuGtb/7yh8SZA8bZheVi2aTigubG8sqq06FctSrl11HVoZAlE+d3LsjtO5xh
CQaqog7uNsyYHe4qa20tCk+aIZ0fDsbTvgH/UG4x3DXwExKLjHL7wqukjgJhEu0oEB7W7lugGSep
aOAOLCHdBvVsa3FJa/2M7dGOSzIKVuoVAP/BybdcLtMtQFPfcTsGosF5XNo1gP4o59QSntb/dzxf
gr8YA8+f5JxbwuOkeGw/gkdOwcdFtUlyEmNgq5b3xCgZn1Hmi788xqHUeVyUjWCMY+BLljdGPPgG
PH9H+2rkvgOSD53uL5BdN/agNNlPY3Ieilro+WTkPhQd+5HscWGsI7JnDj4PY2eA3GheRPsZJOmc
7p887Cqx5yaJcXbwVVLPlesJ8dIMQebudP8q2aVgz7RIXiTV8M8DdOKzhosGaoW0NUsS02l1ISeN
/oQQ/IraKmtrdlZUvrCp1p1z8Mqtx+5fVJeJU2tv6dldkLHfn7sDPdDlC3ZM8wc6UYqjsKV769VP
PbT1yjsx8mJvdlaxJzUukJgqyPkhDoMfTyVSGa8rYdQhSt4YXQp/HXLbNBQvHqdrgY0ectqsxDus
GelfMI7TwUCWcawuhmJY2LE6GdCDZJkjsFsvC1s9DuyHQRHGhH2MqEUEtpPCNo8HW1KTscDnS4oz
Jga9rEcyjkSKwzUu/aPSpLGwvTQ6ux0T79yL91KC2yjLzjIO9ohaj4X0BlD0sfCcHqqp5Qy+jF3Y
F7EThzVgFeSbEtINhWN333330f1n9+8X/fv3R+Kro2ArmxgtSN05lBfRYraUGJFokw1JmVFIIW1i
6OWSJeFa58R1tRWh8sUlNaU3zKp8dp8qNr9Z3KtSFNdhZ3tT+5TlwYVTA7rO1rbWdXVXThfvfJmd
VGTtfpGdXJDGDMW2YdBV3cietFHdF0RXL+nA+Eb2QJd2YcgeKQK79bKw1WPBLpQ91hiwHXIeJMF2
Spo6DmxBjgpHg+8a9nCXYqAej5XhGyOaMg4GRyTaGo1C/FR2iZcimBbx7VIvCMiH5jxD3SB0Oxzu
CNkjyULqCsELJQeOmSLa00TuQpmknibpMtwlLU1F/RrTxMyCGeEM1R3r5ldU9zU17Gx4mr37S7U2
1VkyaZIr0tYU7OgI5kv6KNFlpHSljKBsaDsbpu53EpsSdejOSD4X6Ufz0DoUuNzTcp9cpO+G9tuT
io4iECIJG0cq+NaJ5eUnly37k7jotexns1H3m83PNh/vl+AZ4KlE6icanqPkp5aU9JeX958Wjgho
6t8yjmSIj0l6zQ+ei4qntVliUcPHwoHhFi1Emi7JZi1f3ENR8Wc/+uisOK9j3YEP3znu67TrxVXO
GRU9S5ZPK+vJkI8qc0tP33XHFwZOmSvuzp5Zf+W07i1Vs4fypChQBcjMBdIbLkcGw9ewtLpI2ihH
rlKUMDIsZTsPmfNbl15d13LtFUf6rylfk5a2pvyKw9HirOiKgDFT+9Z/4qqn14oNLfkltY0F/raj
Nb7aefMObb3ikZDLFTq2nTN4C5Wqx7N8/kWF7dMC+VOaQBa0X519EWgq/N91rLMhn4IXfD+9cV30
3nfn0lvv+1/0ryOe2BuWetdYC0T2+T+5e00m73/RxPaaRN9P7mVDtsi+JZ1PPB+xiaETisjhsHxK
If4ZDOKiYwr38BkH7TGHdYilEIa6zGU2Is3mpyQaIz3n7HVy7EnvZ6KXQEZ0/nBHmDw/0hh2Qpov
94ehfDKd3FlYhHk2T6pZKng2CdOOXAi7yO0fNbnhTg4LdQpIan9Rp5tYEBdv4pzLC+yq1BRcmBVX
PJGri4kL1VampyVpsx24Zav4TMBXbczOitmHC0rQ9K3pwdYMNXuVV7LXGrwdnQH/HEPO86W4Wyu7
3WckhsiYTTDGQsfIS8nJCvSXyJhafCXITEM7N6SbpCFiVrA5r0qO1+eU61ZF5YeeWM5qlDEJfLXT
UQ9zXoI582msSrsTXqI9LyC/W3EnuhlyWgWR3yUJK7p5RFrKxl2UfSLm+GAe2gKz6N1u2aKBEprG
oS159oIwnzO5wKRWLpqaku9Oy01Pt6tNMK8BX48+gXiHrP0lJbsHRp/zjggjgd4FQO/XbJkcz8O2
4IDHI+un9iLVuqm9bFnB8eyn4UF1A+SDO/CD8Fs06IaVDSFrPbr9BTPSDzzhQu89ONAt3weDcR/h
A6RbxaGzBnxmVIQCTmpTIbmJizgo0rpGFAOULBSUbzYriEFqUVGy+H5KXKp9X4sn0ye4bp03v77J
6Uo1dDTvs6fGKsX3UorNvhWz5+WVNmhvvPGAU5uks/HrwvXV1Q0OZ3VVQ3FxUbUuSes8cKPOXbNq
84782i03l2kZehfsW3QWPcd46b1bXsJHF5zKuxTxMQop2fITokKk04yU2kPBoyh/VRybouSyY5Up
0zN9cYkL45IT1Uqz1pLq1KjibQ4Pp0rWavU69FztPiGtKjm56OqAz7XohoM9kwy61AzeV+DbZrX7
bdb4OFlOr6NTI+6vnxLbhu6vw2fsb4c/Y397YcbQZzXodua8tLepA6TZkgMqSb98TYV9ol2nbka3
k4uvqQn0ovzF40ffq59o16tb8Jk/VoQiF+th/GXu4dPxh0aAJ2ej6Hb0BYVPYrCLKLJe9A4VygDE
bvKLQdVCKe0yAKjI6wh49A6Zmov0t1MSrBcR9A1nS0+mENGDFLSqGXjhffp4ys0QVwBzcCb6gvJk
JFxpY8YFiSod9PqwBFEnf+tAqkSizDVi5gwm4OIxeo/vv+OOB++8E595dPfAfHzn7kdHjlVHxkZ6
mXxDc+gsMu/m3eIzuz//fDeq2X0zmfs+8xGOwxqyNyD5azH8QbQmPK0rXNo1DWu6t3dP75suxQaT
4Ok2+p0HNC8gdwGs8kM8iv5D/h+Sfsh4Bfk+jqiXRnwfRx5TQu6l/9Tv5ND9X39Txw+j/3DhzI9/
dUfNGF/kgUjvDnOc9u5Euu6O+3zbI512kj8aMUbu7smGMXJHD0Si18GgukivMeKfJ30r0veE/P/s
R8UMh1zsCnpnSkcjXHrrbviGKE9viK7sRr6uffd24Kn3rsO4Y3IXjkIu1NbbKx5Dz4p/Q5xYhbLE
N1EWFt8m3z8z+A06i58A28oiN28QcbkK+aRwyAnzwJoZKTTSoRO5m044RSdVDdmZngyLxe8pLm3O
jO5umunXOTtKGhfjhik7GrvQ9LL8gsa8ROQLFFjMjQ1NwZLS1hfCpo7Zzc3VeP3Wo9fe0dkw5RaL
yZ9I10U76Gat+ASp00UrrUqNtoi4Opr00D4jK/Eb3Ii/4x5xi92jEv+s8tjhlY1Xklel+Gd43cRO
uPC9m1epeDc+5SKvroFs+p7i4gbd+ATg4gCXwhqIBei0/cIai6x5pG0In7AMbEO14tN4ZaJ6QlFI
vBWpQCNvsgsme0Li71XoSfSo6oGKIvFGcW5ibG4u/V6To9iFmojekBxcyr2P7qf43IMfYDu7h+yq
DrUvHpG+tx3b7Ledm52ydwObeqEOncu01Et2m8r48XH0GvVNBfKqRPalYEjOHgS6OyqC0lpwdG0E
J725L5C9iq5Qrj6c5a+28R6vXT/TVptd0urJCFQ4E6dYBXdVM1neipwMY3Z6faAmJzcrq9hjsaD0
UF59cYVTyDC56kOdtXXe7Il61GgyF+R3dxYV2nWTSgJ5efvzcrWcdD/v50jJ3ki0x4iGalQxUk88
oZnTsCMOKwkPhHbBOWdCtCbBq9M7INjRxMVqolUTogWDKzXdoNYkJsepoydExaATKK0xx2JL53RG
ZZwlqeCVzSrx3H/lWa2pnDE5xZySUTvjikicehXWoQuQs/kjt+6zEdVdZzBEIwz6jSBqnyQg4dKP
MOZwZa7Ot6zBWqfkUKWX0+X2ZFoTNM7caPKJQZ+6tME6UcWhKq+Wy56ZZ0xUO3NRfEldcpalq6QW
xyQL6tiobJRWMlExIdMyrbgWKxLcWgWbDXJKGNyKDXgf8fnqgBXyWtJBbuWsLE+uLIQSkHOhMP9X
b9QgrfjeQmHByddr0ZwsFC3+T9YJrygi7D0h8Zkw+CjA6ZHOUHVgEoL0pRUJOBENnMcJYk5LVtYP
eR+7Psp7fszxiHwlRcAB4we+xQkD59EbMAFfEZlB5pA7Me+BT6AZCIpHakjEwbeg+47396cF//u/
g8+hLuJDxLfwNeIDkbstmNzdwybwjRzJnNUjr+5ZlVInKQ9/CESF3zKo4zVASf9N/WFsgDRdvsg3
8DY6Sq7ooFBfn3QXkMLTjYLmC/gi8CKwbuqnsCKAnhowSZAYqV/GiXvx9cAN+UKloT5ohxDSBfN0
0smX/GVP8uEXmtNVWpqVWSY+2dnWWXpbSWfrFI9z8qS2itamqvZJUwT0m/Ku8jJv1uypbZ0uYeqk
KZVN9eHJbe2ZmW2tU8L1zYDm/wAf08t/eNqdkkFu2kAYhZ8HkqabSFl29zerIDXIphKQ7AgLhMSK
cIGJPYAV47HGFhIH6Cl6h/Yw7RV6hC4r9XkYBalSKzWMzHzz/8/vfzYAuMQXRDh+PkfjwBHeqYvA
Cl31IXAHPfUpcBdX6lvgM7xRPwOf46rznsqo+5ZGQ39XyxEG0ffAChfqOnAHS5UE7uJafQ18hkv1
I/A5678whUWFAxxybLBFA8ENUvS4J7jjSkgTZNQ9wZAfqa6pM9hxF8xRUm/pUPlv7XsZ+uy1dxZc
guWLf+1Phruheh+0c6yYpdXv6VD6HDOSY9d4tqxt6ZLylHsXzcuxu/Hnxvu1bkJuc2Q+Y+vxzJrF
OqQ9KkufNGe9pTbjik9WsbfmOfVTp38811HdB6a2Orh8s23kJu1JcneXyCSzT0YeD3VjdrXMy9S6
yjrdmKwvMikKWbb6WpamNm7P6nw1lclel43MtMuMzGyzzVPJa9HizCankTOZNE5nZqfds9g1bVks
dZPbUheyOlRmrVMj0zCLZYb7v3e5oBp/ybJg64HqgnfiwRbZa8zlxeKef6YEI4wRY8B9yOvjP4ZL
O/I+SUbjeDAajig9TT3NbGfcnmJ6J2+0WN0eM8dcQ/5ssV+I42E/juNXuv0Gixy/PQAAAHjabc1V
cBAEAIDhbwGju6S7QRqku7tLdEUJGwwHjO7ujtENRzeoIKk0RyqhdBrk8QY7nvnu/udfoM8+xivj
Sz4kFCBQkGCJJBYiiaSSSS6FlFJJLY200kkvg4wyySyLr2SVTXY55JRLbnnklU9+BRRUSGFFFFVM
cSWU9LVSSie8yyqnvAoqquQblVVRVTXV1VBTLbXVUVc99TXQUCONNdFUM8210FIrrbXRVjvtddBR
J5110dW3uvnO90IDAq0xzng/W+CpCWaYaplN1priT2PN9dob0y00yXF3vbLcZu+89d5qW/3utG3C
hJslwlmRfnPGReecd8Ez3V1xyWXb9fC/2a676pqeXvjHZL318oO++oiyUrT++okxQKwfDTTIc4MN
EWeo4YY5YJWRRhhltJf+dcgN9z2ww04PPXLYY0+sd9M9t9x2x9/+8JeNVlhql9322e+EPfY6aYxj
JtrilF8c8VNAkGkWWWKx/6wzR7wNZppnvoOO+jUgOCQqbEC/0PDI4HqxMdHJo/tEhMfGxERGhcd9
AtMVgToAAAAAAAAB//8AAnjaY2BkYGDgA2IJBhBgYmBkYGb4DiRZwDwGAA8BASwAAAEAAAAKABwA
HgABbGF0bgAIAAQAAAAA//8AAAAAAAB42mWUS2iTQRSFz/wTNYjaBlRcaFe/T3zhg5paXPmoWqyN
VtMYFwquFAVx5cqdG1EXolKLG7UKBSmCCN3oogiCWGxdpMGqRCEoQYyLoiKO30xiKEi4M//ce8+5
99wZIiNptlq0WubUsXOnlVQCj5yTj5iTJ856n2onYlHYkzKJOGSu1nFd4HdZLzWmgr6bpFloYtNm
sua8uWYGzAfzNYqjXHQp6oseRI+iZ9G76FP0JfoR/bFJu9Cut9vsVXvb3rXD9o0t2m/2V2JRokWz
FLuKWl1ZaTekNvZ2N6IJ16+3mJV1wyryNYk1aZkraBW2wb3SJnaP28Kedn1gR8AOKQtfL6ice6o8
eUU3CHoQPbGbCmtBM9VEJIXFWBprcyXQ45pBpJtIN5HH2g5XB2bxFvAWyKlySrHGIHx8Bt2UQlYG
fNZNUrWMrlY3BvMVmF+EvvLuc0NJclr9ETKrZI6TWdHW0Eetw2Yymsnob/SRwRJqZRJptLRxp+3s
88h9qGb6Tbl7WgJbi/sIrkxnVbDDYEfBjqoH9ix95egpz7fXVQFVCVOZy+kMPAN4zsDzFZ73RPqY
eQWucbhuwnVLnajMsGfh8ajroLye6/XqHvUcRAXEKxCvQUyBGANRonJFc+q1btRrTYH6DGoIVAHU
HVD3QVVB3Qc1SK87mPUBzddhdotvinuuBLZI+8jMh5vyvlzdP6sxZz/B3eR0Ur8L85M0eKustUl0
BE3j4fZMYIjCW6qxZsnsDb1Xw92UYS0Hj8880qj+L+JP8zk9RuMInifa6X5ql/tFnd/aQ4VO4vuw
Lmy/FqtbC0JXXuFB90OHgtIVyrL3sucx+DmlQqQJjqOs/sX6GxtATanxSmb+591LboZvX7mG6ic+
OA1VQnGMZ8JdZHKW+C7eTg+xQ+g7zGvzsy0SNSHPhBzDv4PvK6VYS7VMy7VSq7RGa7VOG7RRm3mv
W5TmtbZrO3e4Ux3azQT2or4L5d3KoLkHvVl05nQEpRMq6q0m/wIHYMT/eNpjYGBgZACCY6nbT4Ho
QzEbTsJoAFK2B9wAAA==) format('woff'), url('AvantGardeLT-Bold.ttf')  format('truetype'), url('AvantGardeLT-Bold.svg#AvantGardeLT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


